<h1>Editing documentation</h1>

<%= render "form", documentation: @documentation %>

<br>

<div>
  <%= link_to "Show this documentation", @documentation %> |
  <%= link_to "Back to documentations", documentations_path %>
</div>
