<div id="<%= dom_id reward %>">
  <p>
    <strong>Name:</strong>
    <%= reward.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= reward.value %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= reward.organization_id %>
  </p>

</div>
