<div class="row justify-content-center mb-5">
  <div class="col-auto">
    <div class="card">
      <h2 class="text-center card-header">New Reward!</h2>
      <div class="card-body">
        <%= render "form", reward: @reward %>
      </div>
    </div>
  </div>
</div>