<div class="card mb-5">
  <h2 class="text-center card-header">Register <%= @student.full_name %> For Training</h2>
  <div class="card-body">
    <%= render "form", student: @student %>
  </div>
</div>
