<div class="row justify-content-center">
  <div class="col-auto">
    <div class="card">
      <div class="h2 text-center card-header">Edit <%= @shop.store.number %> Shop Completed On <%= @shop.shopDate.strftime("%m/%d/%y")%></div>
      <div class="card-body">
        <%= render "form", shop: @shop %>
      </div>
    </div>
  </div>
</div>