<div class="row justify-content-center" style="margin-bottom: 125px">
  <div class="col-auto">
    <div class="card">
      <div class="h2 text-center card-header">New Shop - <%= current_user.full_name %></div>
      <div class="card-body">
        <%= render "form", shop: @shop %>
      </div>
    </div>
  </div>
</div>
