<h1>Editing organizaiton</h1>

<%= render "form", organizaiton: @organizaiton %>

<br>

<div>
  <%= link_to "Show this organizaiton", @organizaiton %> |
  <%= link_to "Back to organizaitons", organizaitons_path %>
</div>
