<h1>Editing safe audit</h1>

<%= render "form", safe_audit: @safe_audit %>

<br>

<div>
  <%= link_to "Show this safe audit", @safe_audit %> |
  <%= link_to "Back to safe audits", safe_audits_path %>
</div>
