<div class="card mb-5">
  <h2 class="text-center card-header">New Safe Audit</h2>
  <div class="card-body">
    <%= render "form", safe_audit: @safe_audit %>
  </div>
  <div class="card-footer">
    <%= link_to "Safe Audits", safe_audits_path, class: "btn my-submit" %>
  </div>
</div>
