  <div class="card mt-5">
    <h2 class="text-center card-header">Edit <%= @store.name %></h2>
    <div class="card-body">
      <%= render "form", store: @store %>
    </div>
    <div class="d-grid gap-1 d-md-flex mt-2 card-footer" >
      <%= link_to "Show", @store, class: "btn my-submit" %>
      <%= link_to "Restaurants", stores_path, class: "btn my-submit" %>
    </div>
  </div>
