<div class="row">
  <div class="d-grid gap-2">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log In", new_session_path(resource_name), class: "btn my-submit" %>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot Your Password?", new_password_path(resource_name), class: "btn my-submit"  %>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't Receive Confirmation Instructions?", new_confirmation_path(resource_name), class: "btn my-submit"  %>
    <% end %>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Didn't Receive Unlock Instructions?", new_unlock_path(resource_name), class: "btn my-submit"  %>
    <% end %>
  </div>
</div>
