<div id="<%= dom_id equipment_type %>">
  <p>
    <strong>Name:</strong>
    <%= equipment_type.name %>
  </p>

  <p>
    <strong>Equipment area:</strong>
    <%= equipment_type.equipment_area_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= equipment_type.organization_id %>
  </p>

</div>
