<h1>Editing equipment type</h1>

<%= render "form", equipment_type: @equipment_type %>

<br>

<div>
  <%= link_to "Show this equipment type", @equipment_type %> |
  <%= link_to "Back to equipment types", equipment_types_path %>
</div>
