<h1>Editing workorder</h1>

<%= render "form", workorder: @workorder %>

<br>

<div>
  <%= link_to "Show this workorder", @workorder %> |
  <%= link_to "Back to workorders", workorders_path %>
</div>
