
<%= turbo_stream.append "classes" do %>
  <% @tclasses.each do |tclass| %>
    <div class="col-12 col-md-4">
      <%= check_box_tag "tclass_id#{tclass.id}", tclass.id, false, class: "form-check-input", data: {student_target: "class_id"} %>
      <%= label_tag "tclass_ids", "#{tclass.class_date.strftime("%m/%d/%y")} #{tclass.class_time.strftime("%I:%M %p")} - #{tclass.name} @ #{tclass.location}", class: "form-check-label" %>
    </div>
  <% end %>
<% end %>
