<div class="card mb-5">
  <div class="text-center card-header"><%= @new_hire.full_name %> - <%= @new_hire.store.number %> - <%= @new_hire.position.name %></div>
  <div class="card-body">
    <%= render @new_hire %>
  </div>
</div>
