 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Onboarding
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if policy(:new_hire).new? %>
      <li>
        <%= link_to  new_new_hire_path, class: "dropdown-item" do %>
          <i class="fa fa-person-circle-plus me-1"></i>
          New Team Member
        <% end %>
      </li>
    <% end %>
    <% if policy(:new_hire).index? %>
      <li>
        <%= link_to  new_hires_path, class: "dropdown-item" do %>
          <i class="fa fa-users-line me-1"></i>
          Pending Team Members
          <span class="badge rounded-pill bg-light text-dark"><%= pending_hires %></span>
        <% end %>
      </li>
      <li>
        <%= link_to  "", class: "dropdown-item" do %>
          <i class="fa-solid fa-file-chart-column me-1"></i>
          New Team Member Report
        <% end %>
      </li>
    <% end %>
  </ul>
</li>