 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Restaurants
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <%= link_to  new_store_path, class: "dropdown-item" do %>
        <i class="fa fa-plus me-1"></i>
        New Restaurant
      <% end %>
    </li>
     <li>
      <%= link_to  stores_path, class: "dropdown-item" do %>
        <i class="fa fa-store me-1"></i>
        Restaurants
      <% end %>
    </li>
    <li>
      <%= link_to  "/inactive_users", class: "dropdown-item" do %>
        <i class="fa fa-store-slash me-1"></i>
        Inactive Reataurants
      <% end %>
    </li>
  </ul>
</li>