 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Users
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <%= link_to  new_user_registration_path, class: "dropdown-item" do %>
        <i class="fa fa-plus me-1"></i>
        New User
      <% end %>
    </li>
     <li>
      <%= link_to  new_user_registration_path, class: "dropdown-item" do %>
        <i class="fa fa-users me-1"></i>
        Users
      <% end %>
    </li>
    <li>
      <%= link_to  new_user_registration_path, class: "dropdown-item" do %>
        <i class="fa fa-users-slash me-1"></i>
        Inactive Users
      <% end %>
    </li>
  </ul>
</li>