<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @new_hire.store.number %> Submitted a Background Check for <%= @new_hire.full_name %> for Online Orientation</h2>
    <p>
      Please monitor Goodhire.com over the next 10 minutes. If the background check is acceptable, notify the GM for the restaurant to proceed with sending the "Offer" on McHire.com.<br>
      If the background check is NOT Acceptable, notify GM for the restaurant that we will not proceed with this new hire.<br>
      In either case, update background status on QSRTasks.com
    </p>
  </body>
</html>