<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The background check for <%= @new_hire.first_name.humanize %> is not approved</h1>
    <p>Please mark as 'Did Not Meet Qualifications' under 'Rejection' on McHire.com</p>
  </body>
</html>
