<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @new_hire.first_name.humanize %>, we are not able to offer you employment at this time</h1>
    <p>You should have received an email from Goodhire.com with the results of your background check.  At this time we are not able to offer you employment with Stagg Restaurants, LLC at this time.</p>
    <p>Please feel free to dispute any of the information contained in the report by following the directions contained in the email from Goodhire.com.</p>
  </body>
</html>
