<h1>Editing comment update</h1>

<%= render "form", comment_update: @comment_update %>

<br>

<div>
  <%= link_to "Show this comment update", @comment_update %> |
  <%= link_to "Back to comment updates", comment_updates_path %>
</div>
