<div id="<%= dom_id equipment_area %>">
  <p>
    <strong>Name:</strong>
    <%= equipment_area.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= equipment_area.organization_id %>
  </p>

</div>
