<div class="row justify-content-center mb-2">
  <h3 class="text-center">Scheduled For Training</h3>
  <% @store.users.where(position_id: 15).each do |manager| %>
    <div class="col-6 col-md-3 col-lg-2">
      <% if current_user.position.name.in? (["General Manager", "Supervisor", "Operations Manager", "Director"]) %>
        <%= link_to manager.full_name, manager, class: "table-link" %>
      <% else %>
        <%= manager.full_name %>
      <% end %>
    </div>
  <% end %>
  <hr class="mt-3" >
</div>