<div class="card my-5">
  <h2 class="text-center card-header">Edit <%= @comment.case_number %></h2>
  <div class="card">
    <div class="card-body" >
        <%= render 'form', comment: @comment %>
    </div>
  </div>
</div>
