.form-control:focus {
  border-color: #bf5700;
  box-shadow: 0 0 0 0.1rem #bf5700;
}

.form-check-input:focus {
  border-color: #bf5700;
  box-shadow: 0 0 0 0.1rem #bf5700;
}

.form-check-input:checked {
  border-color: #bf5700;
  background-color: #bf5700;
}