nav.longhorn {
  background: #bf5700;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
  background-color: #f8971f;
  border-radius: 3px;
}

.nav-link.show {
  color: black;
  background-color: #f8971f;
  border-radius: 3px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.dropdown-menu.show {
  background: #bf5700;
  box-shadow: 1px 1px 2px;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: black;
  background:#f8971f;
}