.form-control:focus {
  border-color: #bf5700;
  box-shadow: 0 0 0 0.1rem #bf5700;
}

.form-check-input:focus {
  border-color: #bf5700;
  box-shadow: 0 0 0 0.1rem #bf5700;
}

.form-check-input:checked {
  border-color: #bf5700;
  background-color: #bf5700;
}

.form-select:focus {
  border-color: #bf5700;
  box-shadow: 0 0 0 0.1rem #bf5700;
}

.text-blink {
  font-weight: bold;
  animation-name: blink;
  animation-duration: 3s;
   animation-iteration-count: infinite;
}

@keyframes blink {
    0% {color: #bf5700}
    50% {color: black;}
    100% {color: #bf5700;}
    }

.hide {
  display: none;
}