<h1>Editing documentation report</h1>

<%= render "form", documentation_report: @documentation_report %>

<br>

<div>
  <%= link_to "Show this documentation report", @documentation_report %> |
  <%= link_to "Back to documentation reports", documentation_reports_path %>
</div>
