<div class="row justify-content-center mb-5">
  <div class="col-12">
    <div class="card">
      <h2 class="text-center card-header">Documentation Report</h2>
      <div class="card-body">
        <%= render "form", documentation_report: @documentation_report %>
      </div>
    </div>
  </div>
</div>
